.header
{
    margin-top: 15vh;
    text-align: center;
}

@font-face 
{
    font-family: Poetsen;
    src: url("PoetsenOne-Regular.ttf");
}

.header > #profile-picture
{
    width: 100%;
}

.header > #profile-picture > img
{
    margin-top: 10vh;
    margin-bottom: 1vh;
    height: 250px; 
    border-radius: 50%;
}

.header > #profile-picture > p 
{
    font-family: Poetsen;
    color: lightgrey;
    font-size: 32px;
    text-shadow: 1px 1px lightgrey;
}