<link rel="stylesheet" type="text/css" href="./components/whoami/style.css" />

<article>
    <p>
        Hello World 😁 ! <br /><br />
        My name is Jordan, I'm studying Cybersecurity in Belgium. <br />
        I really like doing Osdev, coding tools for pentesting and listening to music (mostly metal tbh 😅)<br />
        I'm currently working on <a href="https://github.navy-os.tech">NavyOS</a> and I'm one of the maintainer (If it's the correct word) of <a href="http://skiftos.org">skiftos</a><br />
        <br />
    </p>
</article>